* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

head {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: banny;
    src: url("../fonts/Banny-Round.otf");
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
}

.header__nav {
    width: 530px;
    display: flex;
    justify-content: space-around;
}

.header__img {
    margin-top: 25px;
}

.header__nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 45px;
    margin-top: -35px;
}

.header__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.section__hungry {
    background: url(../img/header-bg.jpg) no-repeat center / cover;
    padding-top: 500px;
    margin-top: -400px;
}

.hangru__p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    transform: rotate(-90deg);
}

.hangry__mon {
    display: flex;
    justify-content: start;
    margin-left: -120px;
}

.section__huhgry__block {
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hungry__restaurant {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.hungry__people {
    font-family: Banny;
    font-size: 96px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.hungry__block{
    margin-right: 90px;
}

.hangry__line {
    width: 60px;
    height: 5.11px;
    border-radius: 50px;
    background: #E8C300;
    margin: auto;
}

.hangry__button__block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hungry__button__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.hungry__button__1 {
    width: 200px;
    height: 60px;
    background: #E8C300;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.hungry__button__2 {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
}

.hungry__messenger {
    display: flex;
    flex-direction: column;
}

.hungry__facebbok {
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/facebbok.svg) no-repeat center;
}

.hungry__tvitter {
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/Tvitter.svg) no-repeat center;
}

.hungry__instagram {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/instagram.svg) no-repeat center;
}

.arrow__block {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff url(../img/arrow.svg) no-repeat center;
    margin-top: -50px;
}

.hubgry__arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hubgry__arrow{
    margin-top: 40px;
}
.aboutus__line{
    width: 60px;
    min-height: 5px;
    background: #E8C300;
    border-radius: 50px;
}
.aboutus__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutus__h2{
    font-family: Banny;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;
}
.aboutus{
    width: 600px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutus__p{
    font-family: Open Sans;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #000000;
}
.aboutus__coals{
    padding-right: 80px;
    
}
.aboutus__span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;;
    text-align: center;
    color: #000000;
    display: flex;
    margin-top: 20px;
}
.aboutus__square{
    position: relative;   
}
.aboutus__square::before{
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    right: 0px;
    top: 150px;
}
.section__aboutus{
    padding-top: 100px;
    padding-bottom: 100px;
    /* background: #E5E5E5; */
}